<h4>Add a comment</h4>
<!-- create a new form for a post and a comment, comments are nested in post -->
<%= form_for [post, comment] do |f| %>
  <div class="form-group">
    <!-- create a loebl with a class of sr-only..adds hidden label for screen readers -->
    <%= f.label :body, class: 'sr-only' %>
    <%= f.text_field :body, class: 'form-control', placeholder: "Enter a new comment" %>
  </div>
  <%= f.submit "Submit Comment", class: 'btn btn-default pull-right' %>
  <% end %>
