<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<div class="followMe">
<p> Follow me on LinkedIn:<button class="social-btn"><%=link_to "Follow me", "https://www.linkedin.com/in/anthony-pennacchio-4547a340", class:"social-btn" %></button></p>
</div>
